<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sage</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo"><img src="/img/logos/DALL·E 2025-01-30 10.09.22 - A modern and professional logo for a transportation company named 'SAGE Transporte'. The design should feature a sleek and minimalistic style with bol.webp" alt="SAGE Transporte"></a>
            <ul class="nav-menu">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Quem Somos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Serviços</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
            </ul>
            <div class="hamburguer" aria-label="Menu" role="button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <footer>
    </footer>
    <script src="script/script.js"></script>
</body>

</html>